/*VARIABLES*/
:root {
  --SUAVE:#e7f1ff;
  --BGCOLOR: #7cadf3;
  --HIGHLIGHT: #1e74eb;
  --SECUNDARIO: #003e96;
  --NEGRO: #323232;
  --BLANCO: #fff;
}


/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: var(--BLANCO);
}

body {
  display: flex;
  flex-direction: column;
}

img{
  width: 30px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bolder;
}

h3{
  text-align: center;
  font-weight: bolder;
  color: var(--SECUNDARIO);
}

header {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background: var(--HIGHLIGHT);
  position: sticky;
}

header > a {
  text-decoration: none;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.logo > a {
  text-decoration: none;
  color: white;
}

.barra-busqueda {
  padding: 8px;
  border-radius: 25px;
  border: none;
  width: 250px;
}

.carrito {
  font-size: 1rem;
  position: relative;
}

main, main section{
  border: solid 1px black;
  padding: 20px;
  gap: 30px;
  background-color: var(--BGCOLOR);
}
main{
  background-color: var(--SECUNDARIO);
}

/* Seccion productos */

button{
  background-color: var(--SECUNDARIO);
  color: var(--BLANCO);
  padding: 8px 16px;
  border: none;
  border-radius: 25px;

  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color:var(--BGCOLOR);
}

.titulo-centrado {
  text-align: center;
}

.titulo-centrado h2 {
  margin: 0;
  font-size: 40px;
}



.contenedor-productos {
  padding: 20px;
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5rem;

  display:flex; 
  flex-wrap: wrap;
  justify-content:center;
  gap: 20px;
  padding: 20px;
}

.card-producto {
  margin: 10px;
  border: 2px solid var(--SECUNDARIO);
  padding: 5px;
  width: 100%;
  max-width: 250px;
  background-color: var(--BLANCO);

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: var(--NEGRO);
}

.card-producto img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card-producto h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card-producto p {
  font-size: 32px;
  color: var(--NEGRO);
}


/* Seccion carrito */
.seccion-carrito {
  padding: 20px;
  background-color: var(--HIGHLIGHT);
  text-align: center;
  
}

#items-carrito {
  padding: 10px 0;
  list-style-type: none;
}

.nombre-item, .info-carrito {
  font-size: 20px;
}

.boton-eliminar {
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.total-carrito {
  font-size: 1.2rem;
  text-align: right;
}
